<!DOCTYPE html>
<html>

    <head>
    <link rel="stylesheet" href='/static/style.css' />
        <title>Good Vibes</title>
        <meta charset="utf-8">
    </head>
    <body>
    <center>
    <form method="POST">

        <p style="font-size:80px"><br></p><br>
        <p style="font-size:40px"><br></p><br>
        <p style="font-size:40px"><br></p><br>
        <br>

        <p style="font-size:60px">Wklej link</p> <br>
        <input name="link" style="height:75px; width:600px; font-size:40px">
        <p style="font-size:60px">Tytuł utworu<br><br>
            <input name="nowa_nazwa" style="height:75px; width:600px; font-size:40px"><br><br></p>
            <br>
            <p style="font-size:35px">* Konwertowanie w toku... <br>
            <br>
            <br>
            <br>

            <input type="submit" name="Pobierz" style="height:150px; width:400px; font-size:40px"><br><br><br>

            <p style="font-size:21px">* Uwaga, długość konwertowania i ściągnięcia dobrergo vibes'a<br> zależy od wielkości pliku.<br>* Średni czas oczekiwania to ok 1 minuty.</p> <br>
        </p>
    </form>
    </center>
    </body>
</html>
